<div      
[ngClass]="{'brown-theme-grid': themes['brown'],
            'grey-theme-grid': themes['grey']}"
class="p-1"            
>
<button mat-raised-button  (click)="SmallFormat()">small format </button>
<button mat-raised-button  (click)="Format()"> format </button>
</div>

<mat-grid-list 
    class="w-100 "
    [cols]="GridData.options.cols"
    [rowHeight]="GridData.options.rowHeight"
    [ngClass]="{'brown-theme-grid': themes['brown'],
            'grey-theme-grid': themes['grey']}"
>

    <mat-grid-tile 
        *ngFor="let element of GridData.elements"
        class="grid"
        [colspan]="element.gridoptions.colspan"
        [rowspan]="element.gridoptions.rowspan"
        >
        <span *ngIf="element.elementtype == GridElementtype.Header">{{element.dataoptions.data.title }} </span>
        <span *ngIf="element.elementtype == GridElementtype.Period">{{element.dataoptions.data.title }} {{ element.dataoptions.data.subtitle }} </span>
        <span *ngIf="element.elementtype == GridElementtype.SubPeriod">{{element.dataoptions.data.title }} {{ element.dataoptions.data.subtitle }} </span>
        <span *ngIf="element.elementtype == GridElementtype.Box">{{element.dataoptions.data.title }} </span>
        <span *ngIf="element.elementtype == GridElementtype.BoxIntime">  </span>
    </mat-grid-tile> 
</mat-grid-list>

