
<div fxLayout="row" 
     fxLayoutAlign="start stretch" class="container">

     <!-- PANEL  -->
     <div fxFlex="1 0 20%" 
          fxFlexFill 
          class="panel"
          fxLayout="column"
          fxLayoutAlign="start start"  
          >
  
        <!-- HEADER (litle butons) -->  
        <mat-action-list fxFlex="1 0 "
             fxFlexFill 
             fxLayout="row-reverse"
             fxLayoutAlign="start start"  
             class="panel-item pt-0">
            
            
            <button mat-list-item class="dark"> lb1 </button>
        </mat-action-list>      

        <!-- BUTTONS  -->  
        <mat-action-list fxFlex="10 0 "
             fxFlexFill
             fxLayout="column"
             
             class="panel-item scrollable pt-0">
            
            <button fxFlex="1 0 1fr" mat-list-item class="dark"> b1 </button>
            <button fxFlex="1 0 1fr" mat-list-item class="dark"> b2 </button>
            <button fxFlex="1 0 1fr" mat-list-item class="dark"> b2 </button>
            
            
            
            
            
        </mat-action-list>      

        <!-- LINKS  -->  
        <!--<div 
             fxFlex="9 0 "
             fxFlexFill
             fxLayout="column"
             fxLayoutAlign="start center"  
             class="panel-item scrollable">-->  
            
        <mat-nav-list
            fxFlex="10 0 "
            fxFlexFill
            fxLayout="column"
            fxLayoutAlign="start center"  
            class="panel-item scrollable pt-0">
               
            <h3 mat-subheader>links</h3>
            <a fxFlex="1 0 1fr" mat-list-item class="primary"> link 1</a>
            <a fxFlex="1 0 1fr" mat-list-item class="primary"> link 2</a>
            <a fxFlex="1 0 1fr" mat-list-item class="primary"> link 3</a>
        </mat-nav-list>   
            
        

        <!-- MESSAGES  -->  
        <mat-list fxFlex="10 0 "
             fxFlexFill
             fxLayout="column"
             fxLayoutAlign="start center"  
             
             class="panel-item scrollable pt-0">
             <mat-list-item class="secondry"> message </mat-list-item>
             <mat-list-item class="secondry"> message </mat-list-item>
             <mat-list-item class="secondry"> message </mat-list-item>
            
        </mat-list>      


        <!-- FOOTER (atle butons)  -->  
        <mat-action-list fxFlex="1 0 "
             fxFlexFill
             fxLayout="row"
             fxLayoutAlign="end end"  

             class="panel-item pt-0">
            <button mat-list-item fxFlex="1  " class="dark"> fb1 </button>
            <button mat-list-item fxFlex="1  " class="dark"> fb2 </button>
            <button mat-list-item fxFlex="1  " class="dark"> fb3 </button>
        </mat-action-list>      
        
     </div>
     
     <!-- BODY  -->
     <div fxFlex="9 0 80%" fxFlexFill class="body">
         
     </div> 


</div>



<router-outlet></router-outlet>
