/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';


$brown-app-primary: mat-palette($mat-amber,200,100,50);
$brown-app-accent:  mat-palette($mat-brown, 800, 400, 100);
$brown-app-warn:    mat-palette($mat-red);
$brown-app-theme: mat-light-theme($brown-app-primary, $brown-app-accent, $brown-app-warn);

$grey-app-primary: mat-palette($mat-deep-purple);
$grey-app-accent:  mat-palette($mat-blue-gray);
$grey-app-warn:    mat-palette($mat-red);
$grey-app-theme: mat-light-theme($grey-app-primary, $grey-app-accent, $grey-app-warn);